.name{
    color: var(--color-four);
}
.container{
    width: 80%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px
    /* border: 1px solid white; */
}
.projects > h1{
    color: var(--color-four);
}
.container:nth-child(2n){
    flex-direction: row-reverse;
}
.container:nth-child(2n) .flipCard {
    border-radius: 110px 0 0 0;
}
/* .container div:nth-child(1){
    width: 60%;
    border: 1px solid white;
} */

.desc{
    width: 35%;
    /* border: 1px solid white; */
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.desc h1{
    font-weight: 900;
    font-size: 35px;
    font-family: 'Space Grotesk', sans-serif;

    /* text-align: center; */
    
}
.desc p{
    font-weight: 300;
    color: var(--color-four);
    margin-bottom: 20px;
}
.desc ul{
    display: flex;
    gap: 5px;
    color: var(--color-four);
}
.desc ul li{
    border: 1px solid var(--color-four);
    padding: 5px 10px;
    border-radius: 10px;
    list-style-type: none;
    font-size: 14px;
}
.fold {
    border-radius: 0 115px 0 0;
    width: 60%;
    overflow: hidden;
    z-index: 0;
}

.img{
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* .img:after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    transition-duration: 1s;
    border-bottom: 70px solid black;
    border-right: 70px solid white;
    z-index: 10;
  
} */

/* .fold:hover:after {
    transition-duration: 1s;
    border-bottom: 50px solid black;
    border-right: 50px solid white;
} */

.flipCard {
    background-color: transparent;
    border-radius: 0 110px 0 0;
    position: relative;
    width: 60%;
    height: 100%;
    overflow: hidden;
    perspective: 1000px;
    cursor: pointer;
  }
  
.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s linear;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }
  
.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
.flipCardFront {
    background-color: #bbb;
    color: black;
  }
  
.flipCardBack {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-four);
    background-color: black;
  }
.flipCardBack h1{
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
}
.flipCardBack p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.visit{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}
/* .icon{
    position: relative;
    height: 100%;
    color: var(--color-four);
} */
@media screen and (max-width: 900px) {
    .container{
        width: 70%;
        height: auto;
        display: block;
    }
    .desc{
        width: 90%;
        margin: auto;
        min-height: 250px;
    }
    .flipCard{
        width: 90%;
        height: 300px;
        margin: auto;
        margin-bottom: 50px;
        border-radius: 0 90px 0 0;
    }
    .container:nth-child(2n) .flipCard {
        border-radius: 90px 0 0 0;
    }
}
@media screen and (max-width: 700px) {
    .container{
        margin-bottom: 150px;
    }
    .desc{
        width: 100%;
    }
    .flipCard{
        width: 100%;
        border-radius: 0 60px 0 0;
    }
    .container:nth-child(2n) .flipCard {
        border-radius: 60px 0 0 0;
    }
}
@media screen and (max-width: 540px) {
    .container{
        width: 80%;
        margin-bottom: 120px;
    }
    .flipCard{
        height: 250px;
    }
    .desc p{
        font-size: 15px;
    }

}
@media screen and (max-width: 450px) {
    .container{
        width: 90%;
        margin-bottom: 100px;
    }
    .flipCard{
        height: 210px;
        border-radius: 0 30px 0 0;
    }
    .container:nth-child(2n) .flipCard {
        border-radius: 30px 0 0 0;
    }
    .desc p{
        font-size: 13px;
    }
    .desc ul li{
        font-size: 12px;
        padding: 3px 5px;
    }
}